.container {
	max-width: 600px;
	padding: 20px;
}

.filters {
	margin: 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#user-filter,
#completed-filter {
	border: none;
	padding: 10px;
	border-radius: 10px;
}

#todo-table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 10px;
}

#todo-table th,
#todo-table td {
	padding: 10px;
	border: 1px solid #fff;
}

.completed {
	text-decoration: line-through;
	opacity: 0.5;
}